# Import libraries

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Read in processed data from EDA steps

In [6]:
train = pd.read_csv('../../data/train_eng.csv',parse_dates=['date'])
test = pd.read_csv('../../data/test.csv',parse_dates=['Date'])
spray = pd.read_csv('../../data/spray_eng.csv')
weather = pd.read_csv('../../data/weather_eng.csv',parse_dates=['date'])

In [7]:
train.head()

,Unnamed: 0,date,species,totalmosquitos,wnvpresent,trap,latitude,longitude
0,0,2007-05-29,CULEX PIPIENS,1,0,T096,41.731922,-87.677512
1,1,2007-05-29,CULEX PIPIENS/RESTUANS,1,0,T086,41.688324,-87.676709
2,2,2007-05-29,CULEX PIPIENS/RESTUANS,1,0,T048,41.867108,-87.654224
3,3,2007-05-29,CULEX PIPIENS/RESTUANS,1,0,T129,41.891126,-87.611560
4,4,2007-05-29,CULEX PIPIENS/RESTUANS,1,0,T050,41.919343,-87.694259

In [4]:
weather.head()

,Unnamed: 0,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,...,tavg_lag28,rel_humid_lag5,rel_humid_lag14,rel_humid_lag28,avgspeed_lag5,avgspeed_lag14,avgspeed_lag28,preciptotal_lag5,preciptotal_lag14,preciptotal_lag28
0,0,2007-05-01,83,51,67,14,51,56,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2007-05-02,59,42,51,-2,42,47,13,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2007-05-03,66,47,57,3,40,49,8,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2007-05-04,72,50,61,7,41,50,4,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2007-05-05,66,53,60,5,38,49,5,0,...,NaN,39.634503,NaN,NaN,11.54,NaN,NaN,0.002,NaN,NaN

In [11]:
spray.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

## Combine dataframe into single dataframe 
Create week of year column

In [ ]:
#Do heatmap on combined dataframe

# Modelling